@page "/EditComputer/{CurrentID}/{Referrer}"
@inject IComputerService MyService
@inject IJSRuntime JsRuntime

<h2>Update Computer</h2>
<hr />
<EditForm Model="@obj" OnValidSubmit="Update">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Brand" class="control-label">Brand</label>
                <InputText id="Brand" class="form-control" @bind-Value="@obj.Brand" />
                <ValidationMessage For="@(() => obj.Brand)" />
            </div>

            <div class="form-group">
                <label for="Ram" class="control-label">Memory</label>
                <InputNumber id="Ram" class="form-control" @bind-Value="@obj.Memory" />
                <ValidationMessage For="@(() => obj.Ram)" />
            </div>

            <div class="form-group">
                <label for="Ram" class="control-label">RAM</label>
                <InputNumber id="Ram" class="form-control" @bind-Value="@obj.Ram" />
                <ValidationMessage For="@(() => obj.Ram)" />
            </div>

            <div class="form-group">
                <label for="UsbPort" class="control-label">Usb ports</label>
                <InputNumber id="UsbPort" class="form-control" @bind-Value="@obj.UsbPort" />
                <ValidationMessage For="@(() => obj.UsbPort)" />
            </div>
            <div class="form-group">
                <label for="RamSlot" class="control-label">Ram Slots</label>
                <InputNumber id="RamSlot" class="form-control" @bind-Value="@obj.RamSlot" />
                <ValidationMessage For="@(() => obj.RamSlot)" />
            </div>

            <div class="form-group">
                <label for="Quantity" class="control-label">Quanty</label>
                <InputNumber id="Quantity" class="form-control" @bind-Value="@obj.Quantity" />
                <ValidationMessage For="@(() => obj.Quantity)" />
            </div>

            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <InputNumber id="Price" class="form-control" @bind-Value="@obj.Price" />
                <ValidationMessage For="@(() => obj.Price)" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@ButtonName</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => Cancel())">Cancel</button>
            </div>
        </div>
    </div>
</EditForm>

@code { [Parameter]
            public string CurrentID { get; set; }
            public string ButtonName { get; set; }
            Computer obj = new Computer();

            protected override async Task OnInitializedAsync()
            {
                try
                {
                    ButtonName = "Update";
                    obj = await Task.Run(() => MyService.GetById(Guid.Parse(CurrentID)));
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                }
            }

            protected void Update()
            {
                MyService.Update(obj);
                NavigationManager.NavigateTo("Computers");
            }

            protected void Cancel()
            {
                NavigationManager.NavigateTo("Computers");
            }
    }
